
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="/dist/bundle.css" rel="stylesheet">
</head>
<body>
    <div id="placeholder-app" class="placeholder-container"></div>
    <script type="text/javascript" src="/dist/bundle.js"></script>
</body>
</html>
